DB_HOST=127.0.0.1
DB_USER=root
DB_PASSWORD=
DB_NAME=arc_nueva
DB_PORT=3300
JWT_SECRET=e1e58497d2fc1add7c99cdef8da72748441e77df6b1e45f954909a11b366174a

# (FTP eliminado) Ahora solo se usa Google Drive para subidas

# Google Drive (requerido para nueva subida)
# Cuenta de servicio con acceso a la carpeta destino.
GOOGLE_CLIENT_EMAIL=
GOOGLE_PRIVATE_KEY="-----BEGIN PRIVATE KEY-----\n...\n-----END PRIVATE KEY-----\n"
# ID de la carpeta padre donde se almacenarán las subidas
GOOGLE_DRIVE_PARENT_FOLDER_ID=
NEXT_PUBLIC_STRIPE_PUBLISHABLE_KEY=pk_test_51Rqcmv12ZBZQKdGE7fufZTRmgFWcu92hT8heddLhjfwAUd8de22oIu7KM91QK8Ilxau8MfS8rGfZOZevwVN2uveP008F5ouJar
STRIPE_SECRET_KEY=sk_test_51Rqcmv12ZBZQKdGEIb6hoFlZLV1g6uIIJ3sT9SZ3sHl6zYzNXnTgoA2uKFePkRKHJrlhEc7qM3N3U5Qv2fsQiQEB00JAlKLDZm
